h1{
    color: #48D1CC;
    text-align: center;
}

h2{
    color: #B0E0E6;
    text-align: center;
}

p.note{
    border: thin gray solid;
    margin: 1.5em 3em;
    padding: 0.5em;
    background-color: #FFFF99;
}

p.sample img{
    width: 50%;
    height: auto;
}

ol.course{
    border: thin black solid;
    background-color: #960b17;
    color: white;
    font-weight: bold;
}
